# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GGJ2021.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Pictures\0Facul\Game Jams\GGJ\aaa\GGJ2021\.idea\.idea.GGJ2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
